.list-item-container {
    border: 1px solid #52606d;
    border-radius: 15px;
    margin: 20px 0px;
    padding: 10px;
  }
  .list-item-top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
  }

  .app-container {
    min-height: 100vh;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    margin: 10%;
    padding: 5%;
    border-radius: 15px;
  }
  .main-heading {
    font-size: 40px;
    color: #cb8805;
    font-family: 'roboto';
    font-weight: 800;
    text-align: center;
    margin-bottom: 8%;
  }
  .list-container {
    list-style-type: none;
    margin: 0;
  }